body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: Arial;
}

.calculator {
    width: 260px;
    padding: 25px;
    border-radius: 10px;
    background: #333;
    box-shadow: 0 0 15px #000;
}

#display {
    width: 95%;
    height: 150px;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #555;
    color: white;
    cursor: pointer;
}

.equal {
    grid-column: span 4;
}

